.kickoff-container {
  background-color: #4B0082; /* Purple background */
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.kickoff-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4B0082; /* Purple background */
  z-index: 10; /* Ensure the header is above other elements */
  position: -webkit-sticky; /* For Safari */
  position: sticky; /* Sticky position */
  top: 0; /* Stick to the top */
}

.logo-container {
  display: flex;
  align-items: center;
}

.kickoff-logo {
  height: 50px;
  margin-right: 10px;
}

.kickoff-title {
  font-size: 24px;
}

.kickoff-nav {
  display: flex;
}

.kickoff-nav .nav-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.kickoff-nav .nav-link:hover {
  text-decoration: underline;
}

.kickoff-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.kickoff-image-container {
  flex: 1;
}

.kickoff-image {
  max-width: 100%;
  border-radius: 15px;
}

.kickoff-content {
  flex: 1;
  text-align: left;
  padding: 20px;
}

.kickoff-heading {
  font-size: 36px;
  color: #FF69B4; /* Hot pink color */
}

.kickoff-description {
  font-size: 18px;
  margin: 20px 0;
}

.kickoff-buttons {
  display: flex;
  justify-content: center;
}

.kickoff-buttons .kickoff-button {
background-color: none;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}

.kickoff-buttons .kickoff-button:hover {
  background-color: #FF1493; /* Darker pink */
}

.about-us-section {
  padding: 50px 20px;
  background-color: #4B0082; /* Purple background */
  color: white;
  text-align: center;
}

.about-us-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-us-description {
  flex: 1;
  max-width: 30%;
  font-size: 1.2em;
  margin: 0 20px 20px 0;
  text-align: left;
}

.about-us-images {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}

.about-us-image {
  width: 48%;
  height: auto;
  border-radius: 10px;
  margin: 0 10px;
}


.customer-service-section {
  padding: 50px 20px;
  background-color: #4B0082; /* Purple background */
  color: white;
}

.customer-service-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.customer-service-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.customer-service-card {
  background-color: white;
  color: #4B0082;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer-service-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.team-section {
  padding: 50px 20px;
  background-color: #4B0082; /* Purple background */
  color: white;
}

.team-heading {
  font-size: 36px;
  color: #FF69B4; /* Hot pink color */
}

.team-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-card {
  background-color: white;
  color: black;
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.team-card.animate {
  opacity: 1;
  transform: translateY(0);
}

.team-image {
  max-width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.contact-section {
  padding: 50px 20px;
}

.contact-heading {
  font-size: 36px;
  color: #FF69B4; /* Hot pink color */
}

.contact-content {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.contact-logos {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-logo {
  max-width: 100px;
  margin: 0 10px;
}
