/* LecturerSignUp.css */

.lecturer-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed for vertical centering */
  background-color: #210e7c;
}

.lecturer-signup-content {
  width: 80%;
  max-width: 600px; /* Adjust max-width as needed */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust spacing between inputs */
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #cedff1;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}
