.preference-page {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-top: 5px; /* Adjust vertical spacing between options */
}

.options label {
  display: block; /* Display options vertically */
}

.options input[type="checkbox"],
.options input[type="radio"] {
  margin-right: 5px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.back-button,
.done-button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
  width: 150px; /* Set a fixed width for consistency */
}

.back-button {
  background-color: #007bff; /* Blue color */
  color: white;
}

.done-button {
  background-color: #074a85; /* Grey color */
  color: white;
}

.back-button:hover,
.done-button:hover {
  opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}
